<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lionsquare.canoviusclient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.lionsquare.canisovismanager.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <permission
        android:name="com.lionsquare.canisovismanager.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ActivityStyle">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC5G_sxwa2jZwwlYHQ45Rt9-GrJ7vWvtPk" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:theme="@style/AppCompat.TranslucentSystemBars"
            android:screenOrientation = "portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Location" />

        <service
            android:name=".servicios.AutoSync"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.lionsquare.canoviusclient.servicios.autoSync"></action>
            </intent-filter>
        </service>

        <receiver android:name=".servicios.ReceiverBoot">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".ActivitySettings"
            android:theme="@style/Theme.AppCompat.Light"></activity>
    </application>

</manifest>
